* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-align img {
    width: 50%;
}

.text-align {
    text-align: center;
}

.border {
    background-color: aquamarine;
}

.place {
    background-color: rgb(107, 170, 170);
    padding: 10px;
}

.logo {
    border: black solid 2px;
}